<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>List</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="updateWorkout()" [disabled]="addedExercises.length === 0">
        Update
      </ion-button>

      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="goToProfile()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>