.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.text-medium {
  color: var(--ion-color-medium);
}

.text-small {
  color: var(--ion-color-medium);
  opacity: 0.7;
}

ion-list {
  margin-top: 30px;
  margin-bottom: 30px;
}
